body{
  background-color: #f5f5f5;
  font-family: 'Hiragino Kaku Gothic ProN';
}

div.header{
  font-size: calc(112.5% + 3vh);
  height: 9vh;
  line-height: 9vh;
  text-align: center;
  color: #212121;
  background-color: #c62828;
}

span.text{
  font-size: calc(50% + 3vw);
}

div.indexvar{
  height: 6vh;
  line-height: 6vh;
  width: 100vw;
  text-align: center;
  color: #424242;
  border-bottom: solid  0.1vh;
  border-color: #e0e0e0;
}

div.time{
  float: left;
  margin-left: 5.7vh;
}

div.hit{
  float: right;
  margin-right: 5.9vh;
}

div.row{
  height: 76vh;
  padding: 6vh;
  margin: 0;
}

div.gawa{
  height: 64vh;
  margin: 0vh;
  border-radius: 15px !important;
}

div.white.black-text{
  border-radius: 15px 15px 0 0 !important;
}

div.cardimage{
  border-radius: 15px 15px 0 0 !important;
}

.card-image img{
  border-radius: 15px 15px 0 0 !important;
}

div.contents{
  height: 64vh;
  padding: 0vh !important;
}

div.titlevar{
  height: 9vh;
  margin-top: 0;
  padding-top: 0;
  color: white;
}

div.shop{
  height: 9vh;
  padding-left: 2.5vw;
  line-height: 1.15;
  padding-top: 0.01vh;
  padding-bottom: 0.01vh;
  display: table-cell;
  vertical-align: middle;
}

span.name{
  height: calc(50% + 2vh);
  font-size: calc(50% + 2vh);
  color: #424242;
}

span.jusho{
  height: calc(50% + 1.5vh);
  font-size: calc(50% + 1.5vh);
  color: #757575;
  padding-left: 0.5vw;
  display: table-cell;
  vertical-align: middle;
}

div.gazou{
  height: 55vh;
  margin: 0;
}

img.ramenga{
  height: 55vh;
  object-fit: cover;
}


div.dansoku{
  height: 9vh;
}

div.danbtn{
  height: 9vh;
  line-height: 9vh;
  margin: 0;
  padding: 0;
  width: 50vw;
  float: left;
  border-radius: 0;
  border: none;
  box-shadow: none;
  background-color: #2BBDD2;
}

.danmoji{
  font-size: calc(50% + 4vh);
  color: white;
}


div.sokubtn{
  height: 9vh;
  line-height: 9vh;
  margin: 0;
  padding: 0;
  width: 50vw;
  float: left;
  border-radius: 0;
  border: none;
  box-shadow: none;
  background-color: #FC6D67;
}

.sokumoji{
  font-size: calc(50% + 4vh);
  color: white;
}
